*{
    margin: 0;
    padding: 0;
    
}
body{

}
header{
    
    margin-bottom:40px;
}
header p{
    color:rgb(161, 74, 74);
    font-size:16px;
    text-transform: uppercase;
    padding-bottom:30px;
}
#page{
    width: 1120px;
    margin: 0 auto;
    padding:24px;
    box-sizing: border-box;
}
img{
    width: 100%;
    box-sizing: border-box;
}
/* main {
  padding: 80px;
} */
 .divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}