*{
    margin: 0;
    padding: 0;
    
}
body{
background-color: #F5F4F0;
    
}
#page{
    width: 1120px;
    margin: 0 auto;
    padding:24px;
    box-sizing: border-box;
}
#introducao h2{
 margin-bottom:8px;
}
.headline {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold; 
  color: #e1624f;
  text-transform: uppercase; 
}
 .divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}
p{
    color:#333333;
    font-size:16px;
    text-align: left;
}

header{
    
    margin-bottom:40px;
}
header p{
    color:#E1624F;
    text-transform: uppercase;
    padding-bottom:10px;
}


#introducao{
 margin: 64px auto;
}

#busan p{
    margin-top:24px;
    text-align: center;
    font-style: italic;
}


img{
    width: 100%;
    box-sizing: border-box;
    margin-bottom:48px;
}



h1,h2{
    font-weight: bold;
    font-size:36px;
    color:#1B1B1B;
}